{% extends "base.html.twig" %}

{% block title %}Liste recettes
{% endblock %}

{% block body %}
	<a href="{{path('admin.recipe.create')}}" class="btn btn-primary btn-sm my-3">Créer une recette</a>

	<table class="table table-striped ">
		<thead>
			<tr>
				<td>{{ knp_pagination_sortable(recipes, 'ID', 'r.id')}}</td>
				<td>Nom</td>
				<td>Catagorie</td>
				<td style="width: 200px">Actions</td>
			</tr>
		</thead>
		<tbody>
			{% for recipe in recipes %}
				<tr>
					<td>
						{{ recipe.id }}
					</td>
					<td>
						<a href="{{ path('admin.recipe.show', {slug: recipe.slug, id: recipe.id }) }}">{{ recipe.title }}</a>
					</td>
					<td>{{ recipe.name }}</td>
					<td class="d-flex gap-2">
						<a href="{{ path('admin.recipe.edit', { id: recipe.id }) }}" class="btn btn-primary btn-sm">Editer</a>
						<form action="{{ path('admin.recipe.delete', { id: recipe.id }) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<button class="btn btn-danger btn-sm">Suppression</button>
						</form>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{{ knp_pagination_render(recipes) }}
{% endblock %}
