{% extends "base.html.twig" %}

{% block title %}
	{{ recipe.title }}
{% endblock %}

{% block body %}

	<div class="row mt-5">
		<div class="col-md-8 m-auto">
			<div class="row">
				<div class="col-md-6">
					<img src="{{ recipe.thumbnail: }}" alt="{{ recipe.id }}">
				</div>
				<div class="col-md-6">
					<h2>{{ recipe.title }}</h2>
				</div>
			</div>
			<h3>Comment preparer la
				{{ recipe.title }}
				?</h3>
			<p>{{ recipe.content }}</p>
			<p>
				<span class="text-primary">{{ recipe.duration }}
					min</span>
				pour preparer ça.
			</p>
			<a href="{{path('admin.recipe.index')}}">Retour</a>
		</div>
	</div>

{% endblock %}
